[user]
	name = Yehor Nazarkin
	email = nimnull@gmail.com
[color]
        ui = auto
[core]
        editor = /usr/bin/vim
        pager = less
[alias]
        hist = log --graph --oneline --decorate
        st = status
[mergetool]
	keepBackup = true
